# Environment variables for the backend server
PORT=<Port-Number eg. 5001>
MONGO_URI=<MongoDB Atlas Connection-String>

#Admin User
ADMIN_EMAIL=<Admin-Email-Address>
ADMIN_PASSWORD=<Admin-Password>
ADMIN_NAME=<Admin-Name>

# Demo Admin User (can access admin panel but is read-only)
DEMO_ADMIN_EMAIL=<Demo-Admin-Email-Address>
DEMO_ADMIN_PASSWORD=<Demo-Admin-Password>
DEMO_ADMIN_NAME=<Demo-Admin-Name>
