# Environment variables for the backend server
PORT=<Port-Number eg. 5001>
MONGO_URI=<MongoDB Atlas Connection-String>

#Admin User
ADMIN_EMAIL=<Admin-Email-Address>
ADMIN_PASSWORD=<Admin-Password>
ADMIN_NAME=<Admin-Name>
